[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/local/bin/podman-compose -f gamification2/docker-compose.yml up
Restart=on-failure

[Unit]
After=network.target
Description=Service to run podman-compose for this user
