# Drop this in ~/.config/systemd/user/ and run `systemctl --user enable podman-compose && systemctl --user start podman-compose`

[Install]
WantedBy=default.target

[Service]
# Source code is in $HOME/gamification2
ExecStart=/usr/local/bin/podman-compose -f $HOME/gamification2/docker-compose.yml up
Restart=on-failure

[Unit]
After=network.target
Description=Service to run podman-compose for this user
