<section class="section">
    <h1 class="title is-size-1">
        <%= @repository.organisation %> / <%= @repository.name %>
        <%= link_to image_tag('github.png'), @repository.github_url, title: 'View repository on Github' %>
    </h1>

    <%= render 'coders/table', { coders: @coders, skip_repository_count: true } %>
</section>
