@charset "utf-8";
@import 'bulma/bulma';
$mdi-font-path: "fonts";
@import '@mdi/font/scss/materialdesignicons';

:root {
    --bulma-primary-h: 30deg;
    --bulma-primary-s: 100%;
    --bulma-primary-l: 50%;
}

@media (prefers-color-scheme: dark) {
    .image.invert {
        filter: invert(1);
    }
}