<th class="has-text-right">
    <%= link_to url_for(order_by: value), class: "icon-text is-align-items-center has-text-link" do %>
        <% if @sort_column == value %>
            <span class="icon">
                <%= image_tag('bars-arrow-down.svg', class: "image is-16x16") %>
            </span>
        <% end %>
        <span>
            <%= name %>
        </span>
    <% end %>
</th>
